.Image {
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
  }
  
  .Image > div {
    margin-bottom: 20px;
  }
  label{
    font-weight: bold;
  }
  
  .label-container label{
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;

  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    color: #333;
  }

  input[type="file"] {
    display: none;
  }
  
  .choose-file-button {
    background-color: #65B741;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 20px;
  }
  
  .choose-file-button:hover {
    background-color: #175f1b;
  }
  .image-container {
    border: 1px solid #333;
    padding: 10px;
    margin-top: 5px;
    background-color: #CFD9E0;
  }
  
  .image-container img {
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  hr{
    margin-top: 200px;
  }
