.edit-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(181, 211, 170, 0.788);
    animation: fadeInAnimation 1s ease forwards; /* Apply fade-in animation to the body */
}

.edit {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.edit-details {
    margin-bottom: 20px;
}

.edit-details p {
    margin-bottom: 8px;
}

.edit-details input[type="text"],
.edit-details input[type="email"],
.edit-details select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-details input[type="text"]:focus,
.edit-details input[type="email"]:focus,
.edit-details select:focus {
    outline: none;
    border-color: #65B741;
    box-shadow: 0 0 5px #65B741;
}

.buttons {
    display: flex;
    justify-content: space-between;

}


.cancel,
.save {
    flex-basis: 10%; /* Make each button take up 48% of the container */
}


.Cancel {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.Save{
    padding: 10px 20px;
    background-color: #65B741;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#button:hover {
    background-color:#175f1b;
}

@keyframes fadeInAnimation {
    from {
      opacity: 0; /* Start opacity at 0 */
    }
    to {
      opacity: 1; /* End opacity at 1 */
    }
  }

@media screen and (max-width: 768px) {
    .edit-container {
        padding: 10px; /* Reduce padding on smaller screens */
    }
    .edit-details input[type="text"],
    .edit-details input[type="email"],
    .edit-details select {
        font-size: 14px; /* Reduce font size on smaller screens */
    }
    .buttons {
        flex-direction: column; /* Stack buttons vertically on smaller screens */
    }
    .cancel,
    .save {
        flex-basis: 100%; /* Make buttons take up full width on smaller screens */
        margin-bottom: 10px; /* Add margin between buttons on smaller screens */
    }
}