.food-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.food-card {
    width: calc(30% - 0px); 
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.food-card-image {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.food-card-content {
    padding: 10px;
}

.food-card-buttons {
    position: absolute;
    top: 300px;
    right: 25px;
}

.app-container {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
}

.food-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px; /* Add margin top to create space between search bar and cards */
}
  
.search-profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}
  
.search-bar {
    position: relative;
    padding: 0px 50px; /* Adjust padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 40px;
    display: flex; /* Add display flex */
    align-items: center; /* Center items vertically */
}

.search-text {
    margin-right: 20px;
    font-weight: bold;
    white-space: nowrap; /* Prevent text from wrapping */
}

.search-input .text {
    padding: 30px;
}

.search-bar .search-input:focus {
  outline: none; /* Remove the outline */
  border: 0px solid #ccc; /* Restore the border */
}

.search-icon {
    width: 20px; /* Adjust size as needed */
    height: 20px;
    cursor: pointer;
}

.search-icon-container {
    position: absolute;
    top: 50%;
    right: 0px;
    padding: 10px;
    transform: translateY(-50%);
    background-color: #65B741; 
    border-radius: 0 5px 5px 0; 
}
  
.profile-icon-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
  
.profile-image {
    width: 100%;
    height: 100%;
}

.app-container .name {
    font-weight: bold;
    font-size: 25px;
}

.app-container .banner {
    margin-bottom: 10px;
    padding: 15px 90px;
}

.app-container .load-more {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 480px;
    margin-right: 480px;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 10px 117px;  
    background-color: #65B741;
    color: white;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.app-container .add-recipe .button-recipe {
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 975px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px 66px;
    justify-content: space-between;
    align-items: center;
    background-color: #65B741;
    color: white;
    font-weight: bold;
}

/* footer */

.main-footer {
    margin-top: 100px;
    background: #e3e3e3;
    padding-top: 40px;
    border-top: 3px solid #65B741; /* Add this line for the green border */
}
  
.footer-container {
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column; 
    align-items: center; /* Center content horizontally */
}
  
.footer-content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
.footer-content {
    width: 30%; /* Adjust width as needed */
    text-align: center;
}
  
.footer-content h3 {
    font-size: 28px;
    margin-bottom: 15px;
}
  
.footer-content p {
    width: 200px;
    margin: auto;
    padding: 7px;
    text-align: center;
    justify-content: center;
}
  
.footer-content ul {
    text-align: center;
}
  
.list {
    padding: 0;
}
  
.list a {
    width: auto;
    text-align: center;
    padding: 7px;
    position: relative;
    display: block;
    color: #333;
}
  
.list a::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #65B741;
    transition-duration: 0.5s;
}
  
.list a:hover::before {
    width: 70px;
}

.social-icons {
    list-style: none;
    text-align: center;
    justify-content: center;
    padding: 0;
}

.social-icons a {
    color: #333;
    padding: 3px;
}
  
/* .social-icons li {
  text-align: center;
  padding: 5px;
} */
  
/* .social-icons i {
  color: white;
  font-size: 25px;
} */
  
a {
    text-decoration: none;
}
  
.footer-content a:hover {
    color: #65B741;
}
  
.social-icons i:hover {
    color: #65B741;
}
  
.bottom-bar {
    text-align: center;
    margin-top: 30px; /* Add margin to create space between content and bottom bar */
}
  
.bottom-bar p {
    margin: 0;
    color: black; /* Adjust color as needed */
}